@media (min-width: 701px){
    .project-card{
        min-height: 8em;
        margin-top: 2em;
        margin-left: 2.5em;
        margin-right: 2.5em;
        width: 38em;
        text-align: left;
    }
}

@media (max-width: 700px){
    .project-card{
        margin-top: 2em;
        width: 85vw;
        text-align: left;
    }
}

.project-card{
    border-radius: 15px!important;
}

mat-expansion-panel{
    border-radius: 15px!important;
}

.link-buttons{
    margin-top: 1em;
}