@import '~@angular/material/theming';

@include mat-core();

$light-theme-primary: mat-palette($mat-blue);
$light-theme-accent: mat-palette($mat-teal);
$light-theme-background-color: #DEE4E7;

$light-theme: mat-light-theme($light-theme-primary,$light-theme-accent);

@include angular-material-theme($light-theme); //default light theme

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-pink, A200, A100, A400);

$dark-theme:   mat-dark-theme($dark-primary, $dark-accent);

//dark bg color: 37474F OR 222222

.dark-theme{
    @include angular-material-theme($dark-theme); //dark theme
}