/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

main {
    position: relative;
}

*{
    font-family: 'Nunito', sans-serif;
    
}

html, body { height: 100%; }
body { 
    margin: 0;
}

.dark-theme strong{
    text-shadow: 1px 1px 2px #000000;
}

.dark-theme .social-a{
    color: cyan;
}
@media (max-width: 750px) {
    .title{
        font-size: 1.5em;
        font-weight: 700;
    }

    .card{
        margin-top: 3em;
        width: 85vw;
        text-align: justify;
    }

    .mat-card-content{                   /*να δω*/    
        font-size: 0.95em;
    }
}

@media (min-width: 751px){
    .title{
        font-size: 1.8em;
        font-weight: 700;
    }

    .card{
        margin-top: 3em;
        width: 50em;
        text-align: justify;
    }
}

.spacer{
    flex: 1 1 auto;
}

.wrapper{
    display: table;
    margin: 4em auto;
    align-items: center;
}

.label-wrapper{
    text-align: center;
}

mat-card{
    border-radius: 15px!important;
}

.button{
    border-radius: 15px!important;
}

.button:hover{
    font-weight: 800;
}

.social-a:hover{
    font-weight: 700;
}