<div class="wrapper">
    <div class="label-wrapper"><label class="title">Welcome to my website!</label></div>
    <mat-card class="card mat-elevation-z4">
        <mat-card-title>Stefanos Michelakis</mat-card-title>
        <mat-card-subtitle>Junior Developer</mat-card-subtitle>
        <mat-card-content>
            <p>Here you can find information about me, my projects and my previous work expirience!</p>
            <p>If you are interested in learning information about me you can either download my resume by pressing the
             <strong>Download my CV</strong> button bellow or you can browse this website.</p>
             <p class="list-title-text">In this website you can find the following information:</p>
             <ul>
                <li><strong>About me</strong><p>In this section you can find general information about who I am and, a summary of my knowledge related to programming and what I like doing in my free time.</p></li>
                <li><strong>Work Experience</strong><p>Here you can get informed about my work expirience.</p></li>
                <li><strong>Projects</strong><p>This is where you can find the projects I've worked on in the past (including this website angular project!).</p></li>
                <li><strong>Contact</strong><p>If you want to get in touch with me here you can find my email, my personal phone number and my linked in profile.</p></li>
             </ul>
        </mat-card-content>
        <mat-card-actions>
            <a mat-raised-button class="button mat-elevation-z5" color="accent" [href]="cvName|getDownloadURL" target="_blank">Download my CV</a>
        </mat-card-actions>
  </mat-card>
</div>